@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: no-repeat center / cover url("img/bg.png"), rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 500px;
  width: 100%;
  margin:  0;
  padding: 0;
}

.pan {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: 100%;
  max-height: 240px;
}

.nav {
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: max-content;
  background: #805A36;
  border: 5px solid #9E754E;
  border-radius: 60px;
  list-style: none;
}

.nav li {
  margin: 0;
  padding: 0;
}

.nav a {
  margin: 0;
  padding: 0;
  font: 800 24px/1 "Montserrat";
  color: white;
  text-decoration: none;
}
a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

a:hover::before {
  width: 100%;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  margin: 0;
  padding: 75px 0 0 150px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 30px;
  padding: 0;
  font: 700 48px/1.1 "Montserrat";
  color: white;
  text-align: center;
  width: max-content;
}

span {
  margin: 0 auto 30px;
  padding: 0;
  font: italic 600 40px/1 "Montserrat";
  color: white;
  text-align: center;
}

p {
  margin: 0 0 30px;
  padding: 0;
  font: 600 32px/1 "Montserrat";
  color: white;
  text-align: center;
}

.button {
  box-sizing: border-box;
  margin-top: 60px;
  padding: 23px 20px;
  font: 700 32px/1 "Montserrat";
  color: white;
  text-align: center;
  background: #805A36;
  border-radius: 14px;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  background: #5d4126;
}

.button::before {
  display: none;
}

.image{
  transform: scaleX(-1);
  margin-left: 170px;
  scale: 150%;
}