@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: no-repeat top / 100% 100vh url("img/bg.png"), rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  background-attachment:fixed;
  position:absolute;  
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin:  0;
  padding: 0 150px 0 0;
  position:absolute;  
  z-index: 5; 
}

.pan {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  height: 100%;
  max-height: 240px;
}

.nav {
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: max-content;
  background: #805A36;
  border: 5px solid #9E754E;
  border-radius: 60px;
  list-style: none;
  z-index: 5;
}
p.nav{
  padding: 15px;
}

.nav li {
  margin: 0;
  padding: 0;
}

.active{
  background-color: #5d4126;
  border-radius: 30px;
  padding: 9px 21px !important;
  display: flex;
  
}

.nav a {
  margin: 0;
  padding: 0;
  font: 800 24px/1 "Montserrat";
  color: white;
  text-decoration: none;
}
a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

a:hover::before {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 0;
  padding: 75px 0 0 150px;
}

.main1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 0;
  padding: 75px 0 0 150px;
  padding-top: 200px;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.main2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 0;
  padding: 75px 0 0 150px;
  padding-bottom: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

h1 {
  margin: 0 0 30px;
  padding: 80px 100px 176px;
  font: 700 30px/1.1 "Montserrat";
  color: white;
  text-align: center;
  width: max-content;
  background: no-repeat 40% 25%/87% url(img/hmara.png);
}

span {
  margin: 0 auto 30px;
  padding: 0;
  font: italic 600 40px/1 "Montserrat";
  color: white;
  text-align: center;
}

p {
  margin: 0 0 30px;
  padding: 0;
  font: 600 22px/1 "Montserrat";
  color: white;
  text-align: center;
}

.button {
  box-sizing: border-box;
  margin: 0;
  padding: 23px 20px;
  font: 700 32px/1 "Montserrat";
  color: white;
  text-align: center;
  background: #805A36;
  border-radius: 14px;
  text-decoration: none;
  transition: .3s;
}

.button:hover {
  background: #5d4126;
}

.button::before {
  display: none;
}

.pan_link::before{
  display: none;
}

.image{
  margin: 0 0 30px;
  padding: 0;
  font: 700 48px/1.1 "Montserrat";
  color: white;
  text-align: left;
  width: 300px;
  height: 300px;
}
.image1{
  position: absolute;
  left: 0;
  bottom: -100px;
  transform: matrix(-0.93, -0.37, -0.37, 0.93, 0, 0);
  width: 554.01px;
  height: 610.89px;
}
.block{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  
}
.image3{
  margin-bottom: 20px;
}
.block2{
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.center{
  text-align: center;
  align-self: center;
  margin: 0 auto;
}

.bottom_image{
  margin-top: 50px;
  margin-bottom: 30px;
  align-self: center;
  width: 30%;
  height: 30%;
}
/*.block-kr{
  /*background: no-repeat top / 100% 100vh url("img/bg.png"), rgba(0, 0, 0, 0.5);*/
/*}*/
